/* =================== PC ===================*/
@media (min-width: 992px) {
  /* Tối thiểu là 992px (>= 992) thì áp dụng style này */
  .mobile-header {
    display: none;
  }
}
/* =================== Tablet & Mobile ===================*/
@media (max-width: 991.98px) {
  /* Tối thiểu là 992px (< 992) thì áp dụng style này */

  /* =================== KHỐI HEADER (Tablet & Mobile) ===================*/
  /* =================== Code cho menu-overlay (Tablet & Mobile)  ===================*/
  .navbar {
    display: none;
  }
  /* 1. Ẩn nav bar trên Tablet & Mobile  */

  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /* Kiểm tra vị trí  tâm của phần tử */
    left: 50%;
    translate: -50% -50%;
    /* Thay đổi vị trí  tâm của phần tử (vào chính giữa phần tử) */
    /* Kết quả là logo chạy vào giữa .header-top và căn giữa */
  }
  /* 2. Chuyển logo vào giữa */

  .menu-header__icon {
    /* height: 16px; */
    width: 24px;
    position: absolute;
    /* Không có thẻ tổ tiên gần nhất thì căn theo góc trên cùng (top left corner) */
    /* top: 0; */
    /* left: 0; */
    top: 38px;
    left: 26px;
    /* 3. Căn lại vị trí của menu icon */
    color: #fff;
    /* Đổi màu .menu-header__icon, lúc này cần thêm <path fill="currentColor"> vào <path> index.html */
  }

  .menu-overlay {
    position: fixed;
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* Sẽ có phần tử nằm trên overlay nếu không set z-index */
    opacity: 0;
    /* Ẩn nhưng vẫn che phần tử bên dưới overlay (không thể click vào phần tử) */
    visibility: hidden;
    /* Ẩn hoàn toàn overlay khỏi giao diện, để có thể click vào phần tử bên dưới overlay */
    /* Bình thường ẩn overlay đi */
    transition: 0.5s;
  }
  /* 4. Overlay */

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 5. Kiểm tra nếu checkbox được check thì hiện overlay */

  /* =================== Code cho menu-drawer (Tablet & Mobile) ===================*/
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    /* Trên cả lớp phủ */
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* Menu Top */

  .close__menu {
    width: 24px;
    color: white;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    text-align: left;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
  /* =================== KHỐI MAIN - Hero (Tablet & Mobile) ===================*/
  .hero {
    flex-direction: column;
  }
  .hero__content {
    order: 2;
    text-align: center;
    width: 80%;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
  }
  .hero__media {
    order: 1;
  }

  /* =================== KHỐI MAIN - Our services (Tablet & Mobile) ===================*/

  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }

  /* =================== KHỐI MAIN - How it works (Tablet & Mobile) ===================*/
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* =================== KHỐI MAIN - About us (Tablet & Mobile) ===================*/
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  /* .about__img--small {
    display: none;
  } */

  .about__media {
    width: 100%;
  }
  .about__img--large {
    width: 100%;
    border-radius: 15px;
    margin: 0 auto 25px;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }

  /* =================== KHỐI MAIN - Team list (Tablet & Mobile) ===================*/
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
    /* Có hay không cũng được vì đã có justify-content: center; ở thẻ cha .team-item__img-bg */
  }
  /* =================== KHỐI MAIN - Install (Tablet & Mobile) ===================*/
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }
  /* =================== KHỐI MAIN - Blogs (Tablet & Mobile) ===================*/
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__content {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__list {
    order: 1;
  }
  .blog__heading {
    max-width: 100%;
  }
  /* Màn hình nên kéo cho width bé hơn 992 một chút thôi nếu không phần heading sẽ hiển thị không giống như video bài 101.6 vào 2:10 */
}

/* =================== Tablet ===================*/
@media (max-width: 991.98px) and (min-width: 768px) {
  /* Tối thiểu là 992px (>= 768 và < 992) thì áp dụng style này */
  .show-on-mobile {
    display: none;
  }

  /* =================== KHỐI MAIN - Footer (Tablet) ===================*/
  .footer-top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .footer-hidden-tablet {
    display: none;
  }
}

/* =================== Mobile ===================*/
@media (max-width: 767.98px) {
  /* Tối thiểu là 992px (<= 768) thì áp dụng style này */

  /* =================== KHỐI HEADER (Mobile) ===================*/
  .header__action {
    display: none;
  }
  /* Ẩn Log In và Sign Up, thêm .show-on-mobile {display: none;} vào Tablet */

  .menu-header__icon {
    top: 16px;
  }
  /* Chỉnh lại vị trí của icon-menu */

  /* =================== Code cho menu-drawer (Mobile) ===================*/
  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 40px;
  }
  .navbar__item {
    list-style-type: none;
  }
  /* Xóa dấu chấm của thẻ li (Log In và Sign Up) */
  .separate {
    border-top: 1.5px solid #8c8b8b;
    margin-top: 10px;
  }
  /* Thêm vạch kẻ ngăn cách CTA với Log In và Sign Up)*/

  /* =================== KHỐI MAIN - Hero (Mobile) ===================*/
  .hero__img--small {
    display: none;
  }
  .hero__img--large {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }

  /* =================== KHỐI MAIN - Our services (Mobile) ===================*/
  .service {
    padding: 70px 0;
  }
  .service__desc {
    width: 93%;
  }
  .service__img {
    width: 100%;
    height: auto;
  }

  /* =================== KHỐI MAIN - How it works (Mobile) ===================*/
  .work__desc {
    width: 100%;
  }
  .work-item {
    padding: 20px;
  }

  /* =================== KHỐI MAIN - About us (Mobile) ===================*/
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }
  .about__img--small {
    width: 100%;
    height: auto;
    left: 0;
  }
  .section-heading {
    color: #10375c;
    font-size: 3rem;
  }

  /* =================== KHỐI MAIN - Team list (Mobile) ===================*/
  .team__list {
    grid-template-columns: 1fr;
  }

  /* =================== KHỐI MAIN - Install (Mobile) ===================*/
  .install {
    margin: 40px 0;
  }
  .install__inner {
    padding: 0 8px;
  }
  .install__desc {
    font-size: 1.3rem;
  }
  /* =================== KHỐI MAIN - Blogs (Mobile) ===================*/
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .blog__heading {
    text-align: center;
  }
  .blog {
    padding: 8px;
  }
  /* Lưu ý chỉnh lại padding của .blog nếu không box chứa text sẽ bị thu hẹp đáng kể */

  /* =================== KHỐI MAIN - Appointment (Mobile) ===================*/
  .appointment__inner {
    padding: 30px 5px;
  }

  /* =================== KHỐI MAIN - Footer (Mobile) ===================*/
  .footer-top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
/* =================== Done !!! ===================*/
/* .hero, */
/* main, */
/* .footer {
  display: none;
} */
/* Tạm ẩn phần không liên quan */
